@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
    text-align: center;
    font-size: 24px;
    padding: 50px 20px 0px 20px;
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #fff;
}

a:hover {
    color: #00FFA0;
    text-decoration: none;
}

li {
    list-style: none;
    font-size: 20px;
    padding: 25px 0px;

}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
  background: #070707;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/


/* Side Nav
-------------------------------------------------- */

/*.side_nav {
    width: 15vw;
    height: 100vh;
    position: absolute;
    background-color: #070707;
    border-top: 3px solid #00FFA0;
    border-right: 3px solid #00FFA0;
    border-bottom: 3px solid #00FFA0;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.nav_icons {
    margin: 0px 30px 0 -20px;
    padding: 10px 0px 0px 0px;
    font-size: 34px !important;
}

.location_card {
    color: #fff;
    border: 2px solid #00FFA0;
    border-radius: 10px;
    text-align: center;
}*/

/* Home Page
-------------------------------------------------- */

/*.home_page {
    color: #fff;
}

.molecule_card {
    width: 136px;
    height: 175px;
    border: 1px solid #fff;
    border-radius: 10px;
    float: left;
}

.recommended_text {
    margin-top: 260px !important;
}*/

body, nav, h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #070707;
    font-family: 'Raleway', sans-serif;
}

/* Side Nav
------------------------------------ */

nav {
    width: 240px;
    height: 100vh;
    /* max-height: 731px; */
    color: #fff;
    text-align: center;
    outline: 3px solid #00ffa0;
    position: fixed;
    border-radius: 0px 25px 25px 0px;
    overflow: scroll;
    float: left;
}

a {
    color: #fff;
}

.nav_logo {
    padding: 42px 0;
    font-weight: 600;
    font-size: 30px;
}

.nav_btns {
    width: 120px;
    margin: 0 auto;
    border-top: 1px solid #00ffa0;
    border-bottom: 1px solid #00ffa0;
}

.button {
    width: 172px;
    margin: 16px -57px;
    padding: 24px 40px 30px 40px;
    text-align: left;
    color: #fff;
}

.btn_style {
    margin: -25px 30px;
    padding: 0 0 0 0;
    float: left;
}

.nav_btn_active {
    border: 2px solid #00ffa0
}

.btn_icon {
    margin: -8px 14px 0 0;
    padding: 0 0;
    float: left;
    /* font-size: 16px !important; */
}

.location_card {
    width: 160px;
    margin: 200px auto 0px auto;
    padding: 20px 0 60px 0;
    border-radius: 10px;
    border: 2px solid #00ffa0;
}

.location_cards {
    width: 240px;
    margin: 200px 0 0px 170px;
    padding: 20px 0 20px 0;
    border-radius: 10px;
    border: 2px solid #00ffa0;
    text-align: center;
    float: left;
}

.switch-btn {
    width: 100px;
    height: 40px;
    margin: 30px 70px 0px 70px;
    border: 2px solid #ff0050;
    font-size: 16px;
    background-color: #070707;
    color: #fff;
    border-radius: 10px;
}

.transefer-btn {
    width: 100px;
    height: 40px;
    margin: 30px 70px 0px 70px;
    border: 2px solid #00ffa0;
    font-size: 16px;
    background-color: #070707;
    color: #fff;
    border-radius: 10px;
}

.location_icon {
    padding-bottom: 10px;
    border-bottom: 1px solid #00ffa0;
}

.location_subtitle {
    font-weight: 400;
    font-size: 10px;
    padding: 10px 0;
    color: #00ffa0;
}

.location_name {
    font-weight: 400;
    font-size: 16px;
    margin: -5px 0 0 0;
}

.location_names {
    font-weight: 400;
    font-size: 24px;
    margin: 16px 0 0 0;
}

.stock_divider {
    width: 24px;
    margin: 20px auto 60px auto;
    border-top: 1px solid #00ffa0;
}

.stock_title {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 16px 0;
    text-align: center;
}

.stock_holder {
    margin: 0 22px;
}

.stock_holders {
    margin: 0 40px;
}

.stock {
    margin: 0 4px;
    text-align: center;
    float: left;
}

.stock_amount {
    font-size: 15px;
    font-weight: 200;
}

.stock_amounts {
    font-size: 28px;
    font-weight: 200;
}

.stock_name {
    font-size: 9px;
    font-weight: 300;
    margin: 4px 0 0 0;
}

/* Home screen
------------------------------------ */

.main_container {
    width: 1440px;
    margin: 50px 0px 72px -40px;
    color: #fff;
    float: left;
    overflow: hidden;
}

.header_title_home {
    font-size: 70px;
    font-weight: 300;
    float: left;
}

.header_title {
    font-size: 70px;
    font-weight: 300;
    float: left;
    margin: 50px 660px 20px 20px;
}

.money_indicator {
    margin: 30px 0px 20px 0px;
    float: right;
}

.money_amount {
    font-size: 32px;
    font-weight: 300;
    float: left;
}

.money_icon {
    font-size: 32px !important;
    color: #FFD000;
    float: left;
}

.card_container_title {
    margin-top: -40px;
    font-size: 20px;
    font-weight: 600;
}

.sugested_title {
    position: fixed;
}

.recommended_title {
    position: fixed;
}

.card_container {
    height: 430px;
    margin-top: 160px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.suggested_container {
    margin: 90px 0 0 0;
}

.recommended_container {
    margin: 290px 0 0 0px;
}

.suggested_card {
    width: 164px;
    height: 240px;
    margin: 0px 32px 64px 0;
    flex: 0 0 auto;
    border: 2px solid #fff;
    border-radius: 10px;
    float: left;
}

.molecule_cost {
    margin: 10px 0 0 95px;
    float: left;
}

.molecule_cost_icon {
    margin: 10px 0 0 0;
    color: #FFD000;
}

.molecule_image {
    text-align: center;
    font-size: 30px;
}

.atoms {
    color: #00F0FF;
    font-weight: bold
}

.recommended_card {
    width: 164px;
    height: 240px;
    margin: 0px 32px 64px 0;
    flex: 0 0 auto;
    border: 2px solid #fff;
    border-radius: 10px;
    float: left;
}


/* New Card
------------------------------------ */

.chemical_card {
    width: 200px;
    height: 380px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 16px;
    margin: 40px 0px 0px 85px;
    float: left;
}

.recommended_card {
    width: 200px;
    height: 380px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 16px;
    margin: 40px 80px 0px 0px;
    float: left;
}

.image {
    padding-top: 60px;
    color: #00ffa0;
    font-size: 40px;
    font-weight: 100;
}

.chemical_name {
    font-size: 24px;
    font-weight: 200;
}


.chemcial_catergory {
    padding-top: 8px;
    color: #00ffa0;
    font-size: 16px;
    font-weight: 600;
}

.chemical_info {
    font-size: 16px;
    margin: 20px 36px;
}

.number {
    font-size: 12px;
    font-weight: 200;
}

.chemical_in_stock {
    /* padding-top: 16px; */
    font-size: 16px;
    margin-right: 24px;
    float: left;
}

.chemical_cost {
    /* padding-top: 8px; */
    font-size: 16px;
    float: left;
}

.chemical_inputs {
    margin: 80px 0 0 0;
}

.number_input {
    width: 55px;
    height: 30px;
    background-color: #070707;
    color: #fff;
    border: 2px solid #00ffa0;
    border-radius: 10px 0 0 10px;
    margin: 0 0 0 10px;
    padding: 0 0 0 14px;
    float: left;
}

.access_input {
    width: 115px;
    height: 30px;
    background-color: #070707;
    color: #fff;
    border: 2px solid #00ffa0;
    border-radius: 0 10px 10px 0;
    padding: 0 0 0 15px;
    margin: 0px 0 0 5px;
    float: left;
}

.access_input::placeholder {
    color: #fff;
    font-weight: 100;
}

.card_btn {
    width: 100px;
    height: 40px;
    margin: 20px 0 0 0;
    border: 2px solid #00ffa0;
    font-size: 16px;
    background-color: #070707;
    color: #fff;
    border-radius: 10px;
}

.card_btn:hover {
    background-color: #00ffa0;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.card_btn:active {
    width: 98px;
    height: 38px;
    margin-top: 21px;
    font-size: 15px;
    background-color: #00ffa0;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.card_btn:disabled {
    width: 160px;
    border: 2px solid #555;
    font-size: 16px;
    background-color: #070707;
    color: #555;
    border-radius: 10px;
}


/* New Reaction Card
------------------------------------ */

.reaction_card {
    width: 200px;
    height: 380px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 16px;
    margin: 40px 0 0 145px;
    float: left;
}

.reaction_image {
    padding-top: 30px;
    color: #00ffff;
    font-size: 40px;
    font-weight: 100;
}

.access_input_reaction {
    width: 120px;
    height: 30px;
    background-color: #070707;
    color: #fff;
    border: 2px solid #00ffa0;
    border-radius: 10px;
    padding: 0 0 0 15px;
    margin: 30px 0 0 36px;
    float: left;
}

    .access_input_reaction::placeholder {
        color: #fff;
        font-weight: 100;
    }

.card_btn {
    width: 100px;
    height: 40px;
    margin: 20px 0 0 0;
    border: 2px solid #00ffa0;
    font-size: 16px;
    background-color: #070707;
    color: #fff;
    border-radius: 10px;
}

.chemical_needed {
    width: auto;
    height: auto;
    min-height: 50px;
    max-height: 80px;
    overflow: scroll;
}

/* Tab Style
------------------------------------ */

.nav-tabs .nav-link.active {
    color: #000 !important;
    background-color: #00ffa0 !important;
    border-color: #00ffa0 !important;
}

/* Banner
------------------------------------ */

.alert-success {
    color: #00ffa0;
     background-color: #000; 
    border-color: #00ffa0;
}

.alert-danger {
    color: #ff0050;
    background-color: #000;
    border-color: #ff0050;
}

.alert-warning {
    color: #ffc000;
    background-color: #000;
    border-color: #ffc000;
}